<header>
  <div class="container">
    <%= render :partial => 'layouts/messages' %>
    <div class="row">
      <div class="col-lg-12">
        <%= image_tag(avatar_image(@profile), :class => "mg-responsive circular") %>
        <div class="intro-text">
          <span class="name"><%= @profile.get_user_name %></span>
          <hr class="star-light">
          <span class="skills">Web Developer - Graphic Artist - User Experience Designer</span>
        </div>
      </div>
    </div>
  </div>
</header>
